body{
    background-color: rgb(128, 163, 229);
}

.title{
    font-size:40px ;
    color: rgb(244, 244, 247);
}

.logo{
    width: 300px ;
}

.cards{
    border: 2px solid black;
    width: fit-content;
    padding: lem lem 2em lem;
    border-radius: 15px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.cards:hover{
    background-color: azure;
}

#principal{
    font-size: 4.5em;
}

#titulos{
    width: 65vw;
    margin: auto;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#cards-container{

    width: 85vw;
    margin: auto;
    border: 6px solid rgb(122, 103, 103);
    border-radius: 15px;
    padding: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}